<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559920143888-jj3s8gufg0dco47vc3a79kjbn5uij2t2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559920143888-jj3s8gufg0dco47vc3a79kjbn5uij2t2</string>
	<key>API_KEY</key>
	<string>AIzaSyBL4QLwuUVo5xgV-KsQJqpDHdzDrrrzELg</string>
	<key>GCM_SENDER_ID</key>
	<string>559920143888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.menut.demo.crashlytics.DemoCrashlytics</string>
	<key>PROJECT_ID</key>
	<string>democrashlytics-5fe9c</string>
	<key>STORAGE_BUCKET</key>
	<string>democrashlytics-5fe9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559920143888:ios:de38fb50086d6796f6b495</string>
</dict>
</plist>